@import "tailwindcss";

/* :root {
  --background: hsl(0, 0, 100, 100);
  --foreground: hsl(0, 0, 0, 100);
  --primary: hsl(76, 69, 21, 100);
  --secondary: hsl(80, 50, 85, 100);
  --muted: hsl(82, 15, 54, 100);
  --neutral-dark: hsl(0, 0, 43, 100);
  --neutral-light: hsl(0, 0, 57, 100);
  --overlay: hsl(0, 0, 43, 10);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-muted: var(--muted);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);
  --color-overlay: var(--overlay);
} */

:root {
  --background: hsl(0, 0%, 100%);
  --foreground: hsl(0, 0%, 0%);

  --primary: hsl(76, 69%, 21%);
  --primary-light: hsl(81, 50%, 85%);
  --secondary: hsl(82, 15%, 54%);

  --neutral-dark: hsl(0, 0%, 43%);
  --neutral-light: hsl(0, 0%, 57%);
  --neutral-overlay: hsl(0, 0%, 43%, 0.1);
  --divider: hsl(0, 0, 91%, 100%);

  --fs-base: 1rem;

  --fs-display: clamp(4.75rem, 2.6957rem + 9.1304vw, 10rem);
  --ls-display: -0.05em;
  --lh-display: 0.85;

  --fs-h1: clamp(3.125rem, 2.8804rem + 1.087vw, 3.75rem);
  --ls-h1: -0.03em;
  --lh-h1: 0.95;

  --fs-h2: clamp(2rem, 1.8043rem + 0.8696vw, 2.5rem);
  --ls-h2: -0.04em;
  --lh-h2: 1.1;

  --fs-h3: calc((18 / 16) * 1rem);
  --ls-h3: -0.03em;
  --lh-h3: 1;

  --fs-paragraph: calc((16 / 16) * 1rem);
  --ls-paragraph: -0.005em;
  --lh-paragraph: 1.4;

  /* link 14 -2.5 1.4 */
  --fs-link: calc((14 / 16) * 1rem);
  --ls-link: -0.025em;
  --lh-link: 1.4;

  /* caption 12 -1 1.4 */
  --fs-caption: calc((12 / 16) * 1rem);
  --ls-caption: -0.01em;
  --lh-caption: 1.4;

  /* text 10 auto 1 */
  --fs-text: calc((10 / 16) * 1rem);
  --ls-text: normal;
  --lh-text: 1;

  /* Container */
  --container-spacing: clamp(1rem, 0.3571rem + 2.8571vw, 2.5rem);
}

@layer base {
  @import "./css-reset.css";

  body {
    background: var(--background);
    color: var(--foreground);
    font-family: var(--ff-primary);
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
  }

  .debug {
    outline: 1px solid red;
  }

  /* * {
    outline: 1px solid red;
  } */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-secondary: var(--secondary);
  --color-neutral-dark: var(--neutral-dark);
  --color-neutral-light: var(--neutral-light);
  --color-overlay: var(--neutral-overlay);
  --color-divider: var(--divider);

  --text-display: var(--fs-display);
  --text-display--letter-spacing: var(--ls-display);
  --text-display--line-height: var(--lh-h1);

  --text-h2: var(--fs-h1);
  --text-h2--letter-spacing: var(--ls-h1);
  --text-h2--line-height: var(--lh-h2);

  --text-h3: var(--fs-h2);
  --text-h3--letter-spacing: var(--ls-h2);
  --text-h3--line-height: var(--lh-h2);

  --text-h4: var(--fs-h3);
  --text-h4--letter-spacing: var(--ls-h3);
  --text-h4--line-height: var(--lh-h3);

  --text-paragraph: var(--fs-paragraph);
  --text-paragraph--letter-spacing: var(--ls-paragraph);
  --text-paragraph--line-height: var(--lh-paragraph);

  --text-link: var(--fs-link);
  --text-link--letter-spacing: var(--ls-link);
  --text-link--line-height: var(--lh-link);

  --text-caption: var(--fs-caption);
  --text-caption--letter-spacing: var(--ls-caption);
  --text-caption--line-height: var(--lh-caption);

  --text-text: var(--fs-text);
  --text-text--letter-spacing: var(--ls-text);
  --text-text--line-height: var(--lh-text);

  --font-primary: var(--ff-primary);
  --font-secondary: var(--ff-secondary);
  --font-accent: var(--ff-accent);
  --font-rething-sans: var(--ff-rething-sans);
  --font-reddit-mono: var(--ff-reddit-mono);

  --spacing-con: var(--container-spacing);

  --ease-out-emil: cubic-bezier(0.32, 0.72, 0, 1);
}

@layer components {
  .fluid-container {
    --max: 92rem;
    --pad: 40px;
    --applied-padding: max(
      clamp(1rem, 0.3571rem + 2.8571vw, var(--pad)) -
        max(calc((100vw - var(--max)) / 2), 0px),
      0px
    );
    max-width: var(--max);
    margin-inline: auto;
    padding-inline: var(--applied-padding);

    /**
    viewport
     max width
     padding 
     padding = max(padding - max((viewport - max-width) / 2, 0), 0)
    **/
  }
}
